<form [formGroup]="profileForm" (ngSubmit)="submitProfile(profileForm)">
    <h1 mat-dialog-title class="text-center">Update {{ data.heading }} ID</h1>
    <div mat-dialog-content class="container-width">
        <mat-form-field>
            <input 
                matInput
                placeholder="Enter {{ data.heading }} ID"
                class="w-100"
                [formControl]="userdata"
                name="userdata"
                required
            >
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="float-right">
        <button mat-raised-button color="primary" type="button"
            (click)="updateUserProfile(data.heading)">Update</button>
        <button mat-raised-button color="warn" type="button" (click)="closeDialogBox()">Cancel</button>
    </div>
</form>