.information-heading h4, .another-heading h4{
    font-family: 'Roboto Mono', monospace;
    font-size:19px;
}

.information-list-item{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:16px;
}

.another-heading{
    background-color:#5EECE5;
}