<mat-card class="mb-4">
    <mat-card-header>
        <h4 class="information-heading">You can put any information you'd like</h4>
    </mat-card-header>
    <mat-card-content>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td class="information-list-item">Latest Posts</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td class="information-list-item">Announcements</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td class="information-list-item">Calendars</td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <h4 class="information-heading">Popular Posts</h4>
    </mat-card-header>
    <mat-card-content>
        <table class="table">
            <tbody>
                <tr>
                    <td class="information-list-item">Microsoft revives TechNet and MSDN blogs</td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>