.information-heading h4, .another-heading h4{
    font-family: 'ABeeZee';
    font-size:19px;
}

.information-list-item{
    font-family: 'ABeeZee';
    font-size:16px;
}

.another-heading{
    background-color:#5EECE5;
}