<div class="container pt-6">
    <div class="card">
        <div class="row m-0">
            <div class="col-md-7 signup-background"></div>
            <div class="col-md-5">
                <div *ngIf="!signUpSuccess">
                    <signup-form (idEmitter)="itemSelected($event)"></signup-form>
                </div>
                <div *ngIf="signUpSuccess">
                    <profile-photo-form [id]="id"></profile-photo-form>
                </div>
            </div>
        </div>
    </div>
</div>