<link rel="stylesheet" href="/css/footer.css">
<div class="fluid-container footer-container">
   <div class="row">
      <div class="col-md-3">
         <div class="container">
            <div class="row about-us">
               <h4>About Us</h4>
               <p>This is best Blogging Website where user can post anything and freely.So, sign up now and become a member of this amazing blogging community.</p>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="container newsletter">
            <h4>Newsletter</h4>
            <p>Stay updated with our latest</p>
            <input type="email" value="Enter your email" >
            <button type="button"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
         </div>
      </div>
      <div class="col-md-3">
         <div class="container instagram-feeds">
            <h4>Instagram Feeds</h4>
            <div class="row">
               <div class="col-md-3">
                  <img src="https://images.pexels.com/photos/292442/pexels-photo-292442.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="60px" width="60px">
               </div>
               <div class="col-md-3">
                  <img src="http://4.bp.blogspot.com/-oxlezteeOII/TfiTImj4RlI/AAAAAAAAA1k/UAgctmU5VZo/s1600/Widescreen+Unique+And+Beautiful+Photography+%25284%2529.jpg" height="60px" width="60px">
               </div>
               <div class="col-md-3">
                  <img src="https://cn.opendesktop.org/img/e/a/9/8/6fe4bb926f48f7ef104b56f95d53e999c3cd.jpg" height="60px" width="60px">
               </div>
               <div class="col-md-3">
                  <img src="http://4.bp.blogspot.com/-ckNQzDUbFzM/U4bf9CpGnLI/AAAAAAAANXQ/Le4D3tYr0AM/s1600/moon+hd+wallpaper+1.jpg" height="60px" width="60px">
               </div>
            </div>
            <div class="row">
               <div class="col-md-3">
                  <img src="https://cdn.images.express.co.uk/img/dynamic/36/590x/First-Man-Blu-ray-Download-release-date-dvd-HD-when-how-download-first-man-1031629.jpg?r=1549377190598" height="60px" width="60px">
               </div>
               <div class="col-md-3">
                  <img src="https://newevolutiondesigns.com/images/freebies/hd-wallpaper-1.jpg" height="60px" width="60px">
               </div>
               <div class="col-md-3">
                  <img src="http://images6.fanpop.com/image/photos/32200000/High-Definition-emmashields-32267227-1600-900.jpg" height="60px" width="60px">
               </div>
               <div class="col-md-3">
                  <img src="http://www.sdjgjx.com/up/pc/Cool%20Wallpapers%20Hd%208092.jpg" height="60px" width="60px">
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="container follow-us">
            <h4>Follow Us</h4>
            <p>Let us be social</p>
            <ul>
               <li><a><i class="fa fa-facebook fa-lg"></i></a></li>
               <li><a><i class="fa fa-instagram fa-lg"></i></a></li>
               <li><a><i class="fa fa-google fa-lg"></i></a></li>
               <li><a><i class="fa fa-linkedin fa-lg"></i></a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
