<link rel="stylesheet" href="/css/footer.css">
<div class="fluid-container">
   <div class="row">
      <div class="col-lg-3 col-sm-12 about-us">
         <p class="about-heading">About Us</p>
         <p class="about-text">This is best Blogging Website where user can post anything and freely.So, sign up now and become a member of this amazing blogging community.</p>
      </div>
      <div class="col-lg-3 col-sm-12 col-sm-4-offset-4 newsletter">
         <p class="newsletter-heading">Newsletter</p>
         <p class="newsletter-text">Stay updated with our latest</p>
         <div class="container newsletter-container">
             <div class="input-group mb-3">
                 <input type="text" class="form-control">
                 <div class="input-group-append">
                     <button class="btn btn-outline-secondary" type="button">Submit</button>
                 </div>
             </div>
         </div>
      </div>
      <div class="col-lg-3 instagram-feeds">
         <h4 class="instagram-feeds-heading">Instagram Feeds</h4>
         <div class="row instagram-pics">
             <div class="col-lg-3 col-sm-6 ">
                 <img src="/images/11.jpg" height="60px" width="60px">
             </div>
             <div class="col-lg-3 col-sm-6">
                 <img src="/images/12.jpg" height="60px" width="60px">
             </div>
             <div class="col-lg-3 col-sm-6">
                 <img src="/images/13.jpg" height="60px" width="60px">
             </div>
             <div class="col-lg-3 col-sm-6">
                 <img src="/images/14.jpg" height="60px" width="60px">
             </div>
         </div>
         <div class="row instagram-pics">
             <div class="col-lg-3 col-sm-6 ">
                 <img src="/images/15.jpg" height="60px" width="60px">
             </div>
             <div class="col-lg-3 col-sm-6">
                 <img src="/images/16.jpg" height="60px" width="60px">
             </div>
             <div class="col-lg-3 col-sm-6">
                 <img src="/images/17.jpg" height="60px" width="60px">
             </div>
             <div class="col-lg-3 col-sm-6">
                 <img src="/images/18.jpg" height="60px" width="60px">
             </div>
         </div>
      </div>
      <div class="col-lg-3 follow-us">
         <p class="follow-us-heading">Follow Us</p>
         <p class="follow-us-text">Let us be social</p>
         <div class="menu">
             <ul class="follow-us-list">
                 <li class="follow-list"><a><i class="fa fa-facebook fa-md"></i></a></li>
                 <li class="follow-list"><a><i class="fa fa-instagram fa-md"></i></a></li>
                 <li class="follow-list"><a><i class="fa fa-google fa-md"></i></a></li>
                 <li class="follow-list"><a><i class="fa fa-linkedin fa-md"></i></a></li>
             </ul>
         </div>
      </div>
   </div>
</div>
