<div style="margin:0 auto; width:350px;">
   <% Object.keys(messages).forEach(function (type) { %>
         <% messages[type].forEach(function (message) { %>
            <% if(message=='Missing credentials'){ %>
               <div class="alert alert-danger">
                  <p class="text-center"><%= message %></p>
               </div>
            <% } else if(message=='Invalid Username or password'){ %>
               <div class="alert alert-danger">
                  <p class="text-center"><%= message %></p>
               </div>
            <% } else { %>
               <div class="alert alert-<%= type %>">
                  <p class="text-center"><%= message %></p>
               </div>
            <% } %>
         <% }) %>
   <% }) %>
</div>
