<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= titlePage %></title>
<nav class="navbar navbar-inverse">
   <div class="container-fluid">
      <div class="navbar-header">
         <a class="navbar-brand" href="#">Blogging Blogs</a>
      </div>
      <ul class="nav navbar-nav">
         <li class="active"><a href="/">Home</a></li>
         <% if(currentUser){ %>
            <li><a href="/about">About</a></li>
            <li><a href="/createPost">Create Post</a></li>
            <li><a href="/viewPost">View Posts</a></li>
         <% } %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <% if(currentUser){ %>
            <li class="navbar-text">Hie <%= currentUser %></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
         <%} else {%>
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         <% } %>
      </ul>
   </div>
</nav>
