<div class="container">
   <nav aria-label="Page navigation example">
         <ul class="pagination justify-content-center">
         <li class="page-item mr-3">
            <a class="rounded page-link pl-3 pr-3" href="#" tabindex="-1">&laquo</a>
         </li>
         <li class="page-item mr-3"><a href="#" class="rounded-circle page-link pl-3 pr-3">1</a></li>
         <li class="page-item mr-3"><a href="#" class="rounded-circle page-link pl-3 pr-3">2</a></li>
         <li class="page-item mr-3"><a href="#" class="rounded-circle page-link pl-3 pr-3">3</a></li>
         <li class="page-item mr-3"><a href="#" class="rounded-circle page-link pl-3 pr-3">4</a></li>
         <li class="page-item mr-3"><a href="#" class="rounded-circle page-link pl-3 pr-3">5</a></li>
         <li class="page-item mr-3">
            <a class="rounded page-link pl-3 pr-3" href="#">&raquo</a>
         </li>
      </ul>
   </nav>
</div>
