<link rel="stylesheet" href="/css/index.css">
<div class="w3-card w3-margin">
    <div class="w3-container w3-padding information-heading" style="background-color:#5EECE5">
       <h4>You can put any information you'd like</h4>
    </div>
    <ul class="w3-ul w3-white">
       <li class="w3-padding-16">
          <span class="w3-large information-list-item">Latest Posts</span>
       </li>
       <li class="w3-padding-16">
          <span class="w3-large information-list-item">Announcements</span>
       </li>
       <li class="w3-padding-16">
          <span class="w3-large information-list-item">Calendars</span>
       </li>
    </ul>
 </div>