<div class="home-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <div class="row">
        <div class="col-md-8">
            <mat-card *ngFor="let blogs of blogArray" class="mb-3">
                <mat-card-header class="mb-2">
                    <img mat-card-avatar class="profile-img" src='/api/user/image/{{ blogs.userId }}'>
                    <mat-card-title class="profile-link mt-2"(click)="openOtherUserProfilePage(blogs.userId)">{{ blogs.postAuthor }}</mat-card-title>
                    <mat-card-subtitle class="mt-1">{{ blogs.postDate | amTimeAgo }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image *ngIf="blogs.postImage != null" src="{{'/api/image/'+ blogs.postImage }}" alt="">
                <mat-card-content>
                    <b class="post-title">{{ blogs.postTitle }}</b>
                    <p class="post-content">{{ (blogs.postContent.length > 195)? blogs.postContent.substring(0,195)+'.....' : blogs.postContent }}</p>
                    <div class="d-flex justify-content-between">
                        <a [routerLink]="['/post',blogs._id]">
                            <button mat-raised-button color="accent">Read More</button>
                        </a>
                        <p class="comment-section">{{ blogs.comment.length }} Comments</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <sidebar></sidebar>
        </div>
    </div>
</div>