.post-author{
    font-size:16px;
}

.post-content p{
    font-family:'Acme';
    font-size:19px;
    text-align:justify;
}

.another-heading{
    background-color:#5EECE5;
}

.post-title{
    font-family:'ABeeZee'
}