<div class="edit-post">
    <form [formGroup]="editPostForm" enctype="multipart/form-data" (submit)="editPost(editPostForm)">
        <div class="row">
            <div class="col-md-8">
                <mat-card>
                    <h3>Edit Post</h3>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Enter Post Title" name="postTitle" [formControl]="postTitle">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <textarea matInput placeholder="Write Something" rows="12" [formControl]="postContent"
                            name="postContent"></textarea>
                    </mat-form-field>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">Edit Post</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card>
                    <h3 class="text-center">Post Image</h3>
                    <div *ngIf="post?.postImage != null; else showDefaultImg">
                        <img mat-card-image src="{{ imageUrl }}" alt="image">
                    </div>
                    <mat-card-actions>
                        <input type="file" id="upload" name="postImage" (change)="fileChange($event)">
                        <button type="button" mat-raised-button color="primary" class="mr-3"
                            (click)="uploadFile()">Upload File</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </form>
</div>

<ng-template #showDefaultImg>
    <img mat-card-image src="{{ imageUrl }}">
</ng-template>