.navbar {
    padding: 0px 2px!important;
}

.nav-link {
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;
}

.indigo {
    background-color: #3F51B5;
}

.nav-link:hover {
    color: white;
}

.active {
    color: #8BEEEA;
}

.cursor-pointer {
    cursor: pointer;
}

.white-hover:hover {
    color: white;
}

.searchUser {
    margin-left: 8px;
    margin-top: 8px;
    height: 30px;
    width: 300px;
    border: 0;
    outline: none;
    border-radius: 6px;
    padding: 12px;
}

::ng-deep ngb-typeahead-window.dropdown-menu {
    position: absolute;
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
}