.nav-link{
    font-family: 'Roboto Mono', monospace;
    font-size:19px;
}

.indigo{
    background-color: #3F51B5;
}

.nav-link:hover{
    color: white;
}

.active{
    color: #8BEEEA;
}

.cursor-pointer{
    cursor: pointer;
}

.white-hover:hover{
    color: white;
}