<nav class="navbar navbar-expand-lg navbar-light navbar-background">
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active px-4">
                    <a class="nav-link nav-items" routerLink="/home">Home</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-items nav-link" routerLink="">Create Post</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link nav-items" routerLink="">Profile</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link nav-items" routerLink="">Log Out</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link nav-items" routerLink="/login">Login</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link nav-items" routerLink="/signup">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>