.nav-link {
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;
}

.indigo {
    background-color: #3F51B5;
}

.nav-link:hover {
    color: white;
}

.active {
    color: #8BEEEA;
}

.cursor-pointer {
    cursor: pointer;
}

.white-hover:hover {
    color: white;
}

.searchUser {
    border: none;
    outline: none;
    padding: 5px 12px;
    width: 20vw;
}

.searchUser:active {
    border-color: #8BEEEA;
}

.search-box{
    outline: none;
    border: none;
    padding: 5px 16px;
    margin-right: 15px;
    border-radius: 4px;
}

.showUsers{
    width: 223px;
    background-color: white;
    position: relative;
    top: 38px;
    right: 238px;
    /* display: none; */
}

.form-inline{
    display: block;
    margin-top: 6px;
}