<title><%= titlePage %></title>
<% include partials/nav.ejs %>
<link rel="stylesheet" href="/css/index.css">
<body>
   <div class="w3-container">
      <div class="row">
         <div class="col-md-8 w3-margin-top">
            <% for(i=len-1;i>=0;i--){ %>
               <div class="w3-card-4 w3-margin-bottom">
                  <header class="w3-container w3-light-grey">
                     <h3 style="margin-top:0 !important;padding:5px;"><%= post_data[i].postAuthor %></h3>
                  </header>
                  <div class="w3-container">
                     <h3><%= post_data[i].postTitle %></h3>
                     <hr style="margin:10px !important">
                     <img src="https://www.qualiscare.com/wp-content/uploads/2017/08/default-user.png" alt="Avatar" class="w3-left w3-circle w3-margin-right w3-margin-bottom" style="width:60px">
                     <p><%= post_data[i].postContent %></p><br>
                  </div>
                  <div class="w3-container w3-light-grey" style="padding:10px">
                     <div class="likebutton" onclick="changeLikeMode()" id="likebutton"><i class="fa fa-thumbs-up"></i> Like</div>
                     <button type="button" class="w3-large w3-button w3-blue w3-round"style="margin-bottom:2px !important;">View</button>
                  </div>
               </div>
               <% } %>
            </div>
            <div class="col-md-4 w3-margin-top">
               <div class="w3-card-4" style="width:100%">
                  <header class="w3-container w3-light-grey">
                     <h3>Our Sidebar</h3>
                  </header>
                  <div class="w3-container">
                     <p>You can put any information here you'd like</p>
                     <table class="w3-table w3-striped">
                        <tr><td>Latest Posts</td></tr>
                        <tr><td>Announcements</td></tr>
                        <tr><td>Calendars</td></tr>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="/js/javascript.js"></script>
   </body>
