<title><%= titlePage %></title>
<% include partials/nav.ejs %>
<link rel="stylesheet" href="/css/login.css">
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<div class="container">
   <div class="login">
      <%- messages('partials/message', locals) %>
      <form method="post" action="/login">
         <p class="text-center login-heading">Login</p>
         <input type="text" placeholder="Username" name="username">
         <input type="password" placeholder = "Password" name="password">
         <input type="checkbox"> Remember Me
         <div class="button">
            <button type="submit">Submit</button>
         </div>
      </form>
   </div>
</div>
