<body>
   <div class="w3-container">
      <div class="w3-card-4 w3-margin-bottom">
         <header class="w3-container w3-light-grey">
            <h3 style="margin-top:0 !important;padding:5px;">Smarty</h3>
         </header>
         <div class="w3-container">
            <h3>Post Title</h3>
            <hr style="margin:10px !important">
            <img src="https://www.qualiscare.com/wp-content/uploads/2017/08/default-user.png" alt="Avatar" class="w3-left w3-circle w3-margin-right w3-margin-bottom" style="width:60px">
            <p>Post Content</p><br>
         </div>
      </div>
   </div>
</body>
