<div class="first-main-box">
    <h1>Publish your passion, your way</h1>
    <h3>Create a unique blog. Its easy and free</h3>
    <a href="/signup">
        <button type="button" class="main-signup-button">Sign Up</button>
    </a>
    <a href="/login">
        <button type="button" class="main-login-button">Login</button>
    </a>
</div>
<div class="second-main-box">
    <h1>Its easy to use that it's hard to explain</h1>
    <div class="second-main-text mt-4">
        <h4>We made it really, really simple for people to make the blog and put whatever they want to.
            Stories, photos, links, dumb jokes, smart jokes etc. Blogging blogs is 500 million different
            blogs, filled with literally whatever
        </h4>
    </div>
</div>
<div class="third-main-box">
    <h1>Seriously, put anything you want here</h1>
    <div class="third-main-text mt-4">
        <h4>Many post type to get started. Your brain can do the rest. This thing is
            yours. Use it however you like</h4>
    </div>
</div>