.first-main-box {
  background-image: url("../../assets/4.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 218px 0px;
}

.first-main-box h1 {
  margin-top: 0;
  font-family: "ABeeZee", sans-serif;
}

.first-main-box h3 {
  font-family: "ABeeZee", sans-serif;
}

.main-signup-button,
.main-login-button {
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
  outline: none;
  padding: 16px 20px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  outline: none;
  background-image: linear-gradient(
    15deg,
    #99005e 20%,
    #005f99 118%,
    #99005e 100%
  );
}

.main-login-button {
  margin-left: 5px;
}

.main-signup-button {
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main-login-button {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main-login-button:hover,
.main-signup-button:hover {
  opacity: 0.8 !important;
}

.main-login-button:focus,
.main-signup-button:focus {
  outline: none;
}

.second-main-box {
  background-image: url("../../assets/5.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  text-align: center;
  padding: 210px 0px;
}

.second-main-box h1 {
  margin: 0;
  font-family: "ABeeZee", sans-serif;
}

.second-main-text {
  width: 55%;
  margin: 0 auto;
  color: black;
}

.second-main-text h4 {
  font-family: "ABeeZee", sans-serif;
}

.third-main-box {
  background-image: url("../../assets/6.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  opacity: 0.8;
  padding: 210px 0px;
}

.third-main-box h1 {
  font-family: "ABeeZee";
  margin: 0;
}

.third-main-text {
  width: 50%;
  margin: 0 auto;
  color: black;
}

.third-main-text h4 {
  font-family: "ABeeZee";
  margin: 0;
}
