.login-background{
    background-image: url('/images/20.jpg');
    background-repeat: none;
    background-size: cover;
}
.login-background .container{
    padding: 30px;
}
.login-card{
    width: 380px;
    margin: 0 auto;
}

.login-heading{
    text-align: center;
    font-family:'Sofia';
    margin-top:50px;
    font-size:45px;
}

.centered{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.username-input, .password-input{
    width:100%;
    border:none;
    border-bottom: 3px solid #3EB2E8;
    padding:5px 10px;
    border-radius:16px;
    outline: none;
}
.username-input:focus, .password-input:focus{
    border: 2px solid #3EB2E8;
    box-shadow: 2px 2px 12px -1px rgba(24,173,242,1);
}

label{
    padding-left:7px;
    font-size:15px;
    font-family: 'Titillium Web', sans-serif;
}

.login-button{
    padding-bottom:32px;
}
.login-button button{
    padding:5px 20px;
    border-radius:6px;
    border: 2px solid #4CAF50;
    background-color:#4CAF50;
    outline: none;
    cursor:pointer;
    color:white;
}
.login-button button:hover{
    background-color:#71D475;
    box-shadow: 2px 2px 12px 1px rgba(76,175,80,1);
}

.login-password{
    position: relative;
    bottom: 25px;
    float: right;
    right: 10px;
    cursor: pointer;
}