.card{
   width:400px;
   margin: 0 auto;
   margin-top: 20px;
   margin-bottom:20px;
}
.user-image{
   margin: 0 auto;
}
.user-image img{
   height:150px;
   width:150px;
   margin-top:-80px;
}
.img-border{
   border-radius: 50%;
   border: 5px solid rgba(255,255,255,0.5);
}
.author-name{
   text-align:center;
}
.emailText, .passwordText{
   text-align:center;
}
.modal-header h4{
   font-family: 'Aclonica';
   font-size:30px;
   margin:0 auto;
   margin-top:15px;
}
