.view-container{
   margin-top:30px;
   margin-bottom:20px;
}
.view-card{
   width:900px;
   margin: 0 auto;
}
.card-header img{
   height:70px;
   width:70px;
}

.card-header h3{
   font-family: 'Slabo 27px';
   display: inline;
   white-space: nowrap;
   margin-left:10px;
   margin-top:15px !important;
   font-size:30px;
}

.card-header p{
   display: inline;
}

.button-group{
   float:right;
   margin-top:20px;
}

.like-button, .comment-button, .share-button{
    cursor:pointer;
    font-size:18px;
}

.like-button:hover, .comment-button:hover, .share-button:hover{
    background-color: #ECE9E9;
    border-radius:20px;
}

.comment-section{
    padding:5px;
}

.comment-box{
    padding:15px;
}

.user-image{
    width: 60px;
    height: 60px;
}

.comment{
    width:100%;
    outline:none;
    padding:10px 26px;
    border-radius:20px;
    background-color: #ECE9E9;
    border: none;
}

.comment:focus{
    background-color: #E8E0E0;
}

.comment-box .row .col-lg-11{
    padding-top: 9px;
}

.post-send{
    position: absolute;
    right: 20px;
    top:12px;
    border: none;
    background: none;
    outline: none;
}

.input-group-addon span{
    font-size: 18px;
}

.commenting{
    background-color: #ECE9E9;
    border-radius: 56px;
    padding: 0px 20px;
}

.commenting-heading{
    font-family: 'Aclonica';
    font-size: 18px;
    padding-top:14px !important;   
}

.commenting-content{
    font-family: 'ABeeZee';
    font-size: 18px;
}
