.post-author{
    font-size:16px;
}

.post-content p{
    font-family:'Acme';
    font-size:19px;
    text-align:justify;
}

.post-title{
    font-family:'ABeeZee'
}

.like-comment-box{
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    width: 150px;
    margin: 0 auto;
}

.like-comment-box:hover{
    background-color: grey;
    cursor: pointer;
}

.comment-section{
    justify-content: space-between;
    padding: 10px;
}

.comment-section-img{
    height: 45px !important;
    width: 45px !important;
}

.comment-section-input{
    border: none;
    background-color: #F2F3F5;
    width: 100%;
    border-radius: 20px;
    outline: none;
    padding: 0px 35px 0px 20px;
}

.fa-smile-o{
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 25px;
    cursor: pointer;
}

.fa-trash{
    position: relative;
    bottom: 40px;
    font-size: 20px;
    right: 26px;
    cursor: pointer;

}

.fa-edit{
    position: relative;
    font-size: 20px;
    bottom: 38px;
    right: 30px;
}

.user-comment{
    background-color: #F2F1F1;
    width: 100%;
}

.comments{ padding: 10px 0px; }

.media{
    width: 55px;
    height: 55px;
}

.comment-details{
    padding: 6px 15px;
}

.userName{ font-size: 13px; }

.userComment{
    font-size: 12px;
}
