<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-8">
            <mat-card>
                <img mat-card-image style="height: 300px;" *ngIf="post?.postImage != null" src="{{ post.postImage }}"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h2>
                        <b class="post-title">{{ post?.postTitle }}</b>
                    </h2>
                    <h5>By
                        <span class="profile-link" (click)="userProfile(post.userId)">{{ post?.postAuthor }}</span>
                        <span class="ml-2 post-author">{{ post?.publishedAt | amTimeAgo }}</span>
                    </h5>
                    <div class="post-content">
                        <pre>{{ post?.postContent }}</pre>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="like-comment-box text-center" (click)="postLike(post._id)">
                                <i class="fa fa-thumbs-up" [ngClass]="likeState ? 'likeColor':'unlikeColor'"> Like</i>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="like-comment-box" (click)="getComments(post._id)">View Comments ({{ commentCount
                                }})</div>
                        </div>
                    </div>
                    <div *ngIf="!lastDocument && commentsList.length != 0">
                        <p (click)="previousComments(post._id)" class="cursor-pointer">View previous comments</p>
                    </div>
                    <div class="comment-section">
                        <div class="mt-2" *ngFor="let comment of commentsList">
                            <div class="d-flex">
                                <img class="rounded-circle" src="http://bit.ly/34amoMf" height="60px" width="60px">
                                <div class="d-block pt-2 pl-3 comment-details">
                                    <div class="userName"><a href="">{{ comment.createdBy }}</a></div>
                                    <div class="userComment">{{ comment.text }}</div>
                                </div>
                            </div>
                            <i class="fa fa-trash pull-right" matTooltip="Delete Comment" matTooltipPosition="above"
                                aria-label="Action" (click)="dialogBox(comment._id)"></i>
                        </div>
                        <form [formGroup]="commentForm" (ngSubmit)="submit(commentForm.value,post._id)">
                            <div class="d-flex w-100">
                                <img class="rounded-circle comment-section-img" src="{{ userImage }}">
                                <div class="input-group">
                                    <input #focusComment type="text" name="comment" class="comment-section-input"
                                        placeholder="Write a comment..." formControlName="comment"
                                        [value]="clearComment" autocomplete="off" required>
                                    <i class="fa fa-smile-o" matTooltip="Insert an Emoji" matTooltipPosition="above"
                                        aria-label="Action"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <sidebar></sidebar>
        </div>
    </div>
</div>