<div class="profile-form">
    <h4 class="profile-heading">Insert Profile Photo</h4>
    <img src="{{ defaultImgSrc }}" class="profile-image">
    <div class="insert-image">
        <input type="file" hidden id="upload" name="profileImage" (change)="fileChange($event)">
    </div>
    <div class="float-right">
        <button mat-raised-button color="primary" (click)="uploadFile()" color="{{ fileUploadColor }}" class="mr-2">{{ uploadFileText }}</button>
        <button mat-raised-button color="primary" class="mr-2">Save</button>
        <button mat-raised-button color="primary">Skip</button>
    </div>
</div>