<div class="login-background p-4">
    <mat-card class="w-25 mx-auto">
        <img mat-card-image src="../../assets/19.jpg" alt="image">
        <div class="centered">
            <h3 class="login-heading mb-0 text-center">Login</h3>
        </div>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm)">
                <p class="red-error">{{ loginError }}</p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Username</mat-label>
                    <input 
                        matInput 
                        placeholder="Enter Username" 
                        formControlName="username"
                        name="username"
                        required
                    >
                    <mat-error *ngIf="loginForm.controls['username'].invalid">Required Field</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        [type]="hidePassword ? 'password' : 'text'"
                        placeholder="Enter Password"
                        formControlName="password"
                        name="password"
                        required
                    >
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">remove_red_eye</mat-icon>
                    <mat-error *ngIf="loginForm.controls['password'].invalid">Required Field</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>