.example-card {
    max-width: 400px;
    margin: 0 auto;
}

.login-background{
    background-image: url('../../assets/20.jpg');
    background-repeat: none;
    background-size: cover;
}

.example-container > *{
    width: 100%;
}

mat-icon{
    cursor: pointer;
}

.centered{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-heading{
    text-align: center;
    font-family:'Sofia';
    margin-top:50px;
    font-size:45px;
}
