<form [formGroup]="passwordProfileForm" (ngSubmit)="submitNewPassword(passwordProfileForm)">
    <h1 mat-dialog-title class="text-center">Update Password</h1>
    <div mat-dialog-content class="container-width">
        <mat-form-field>
            <input 
                matInput
                placeholder="Current Password"
                class="w-100"
                name="currentPassword"
                type="password"
                formControlName="currentPassword"
                required
            >
            <mat-error *ngIf="passwordProfileForm.controls['currentPassword'].hasError('required')">Required Field</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                placeholder="New Password"
                class="w-100"
                name="password"
                type="password"
                formControlName="password"
                required
            >
            <mat-error *ngIf="passwordProfileForm.controls['password'].hasError('required')">Required Field</mat-error>
            <mat-error *ngIf="passwordProfileForm.controls['password'].hasError('minlength')">Minimum password length is 8</mat-error>
            <mat-error *ngIf="!passwordProfileForm.controls['password'].hasError('minlength') && passwordProfileForm.controls['password'].hasError('pattern')">Must contain one lower &amp; uppercase letter and numerical character</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                placeholder="Confirm Password" 
                class="w-100"
                name="confirmPassword"
                type="password"
                formControlName="confirmPassword"
                required
            >
            <mat-error *ngIf="passwordProfileForm.controls['confirmPassword'].hasError('required')">Required Field</mat-error>
            <mat-error *ngIf="passwordProfileForm.controls['confirmPassword'].hasError('mustMatch')">Password not matched</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="float-right">
        <button mat-raised-button color="primary" [disabled]="!passwordProfileForm.valid">Update</button>
        <button mat-raised-button color="warn" type="button" (click)="closePasswordDialogBox()">Cancel</button>
    </div>
</form>