<mat-card *ngFor="let post of userPost">
    <mat-card-header>
        <img mat-card-avatar src="/api/image/{{ userProfileImage }}" class="profile-image">
        <mat-card-title>{{ post.postAuthor }}</mat-card-title>
        <mat-card-subtitle>{{ post.postDate | amTimeAgo }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="post-image" src="../../../assets/1.jpg">
    <mat-card-content>
        <p>{{ post.postContent.substring(0,195)+'.....' }}</p>
    </mat-card-content>
    <mat-card-actions>
        <a [routerLink]="['/post',post._id]"><button mat-raised-button color="accent">Read More</button></a>
        <button *ngIf="authenticated" mat-raised-button color="primary" (click)="editPost(post.postAuthor,post._id)">Edit</button>
        <button *ngIf="authenticated" mat-raised-button color="warn" (click)="deletePost(post)">Delete</button>
    </mat-card-actions>
</mat-card>