<form [formGroup]="passwordProfileForm" (ngSubmit)="submitPassword(passwordProfileForm)">
    <h1 mat-dialog-title class="text-center">Update Password</h1>
    <div mat-dialog-content class="container-width">
        <mat-form-field>
            <input 
                matInput
                placeholder="Current Password"
                class="w-100"
                name="currentPassword"
                [formControl]="currentPassword"
                required
            >
            <mat-error *ngIf="currentPassword.hasError('required')">Required Field</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                placeholder="New Password"
                class="w-100"
                name="password"
                [formControl]="password"
                required
            >
            <mat-error *ngIf="password.hasError('required')">Required Field</mat-error>
            <mat-error *ngIf="password.hasError('minlength')">Minimum password length is 8</mat-error>
            <mat-error *ngIf="!password.hasError('minlength') && password.hasError('pattern')">Must contain one lower &amp; uppercase letter and one non-alpha character</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                placeholder="Confirm Password" 
                class="w-100"
                name="confirmPassword"
                [formControl]="confirmPassword"
                required
            >
            <mat-error *ngIf="confirmPassword.hasError('required')">Required Field</mat-error>
            <mat-error *ngIf="confirmPassword.hasError('mustMatch')">Password not matched</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="float-right">
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="warn" type="button" (click)="closePasswordDialogBox()">Cancel</button>
    </div>
</form>