<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Name</mat-panel-title>
            <mat-panel-description>Himanshu Chauhan</mat-panel-description>
        </mat-expansion-panel-header>
        <p>Edit name</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Email</mat-panel-title>
            <mat-panel-description>sampleEmail@email.com</mat-panel-description>
        </mat-expansion-panel-header>
        <p>Edit email</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Password</mat-panel-title>
            <mat-panel-description>Last changed 12 months ago</mat-panel-description>
        </mat-expansion-panel-header>
        <p>Edit password</p>
    </mat-expansion-panel>
</mat-accordion>