/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f5f7f8;
}

.cursor-pointer {
  cursor: pointer;
}
